.services_sec{
    padding: 150px 0;
}
.services_img {
    overflow: hidden;
}
 .services_img .card-img-top {
    transition: 0.5s ease;
}
.services_img img:hover{
    transform: scale(1.3);
}
.sec_title h2 {
    font-size: 48px;
    color: var(--heading-color);
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    line-height: 65px;
    position: relative;
}
 
.service_text h3{
    font-size: 28px;
    color: var(--heading-color);
    font-weight: 500;
}
.service_text p{
    color: var(--paragraph-color);
    line-height: 26px;
}
.services_card_item{
    height: 400px;
}
.services_card_item img{
    height: 300px;
}
/* ----------------------media query---------------- */

/* ----------tablet size----------------- */
@media (max-width:768px){
    .sec_title h2::before {
        visibility: hidden;
    }
}
@media (min-width:577px) and (max-width:768px){
    .sec_title h2 {
        line-height: 60px;
    }
}
/* ---- mobile device---- */
@media (min-width:375px) and (max-width:576px){
    .sec_title h2 {
        font-size: 38px;
        line-height: 45px;
    }
}
/* ---- small mobile device---- */
@media (max-width:375px){
    .sec_title h2 {
        font-size: 28px;
        line-height: 40px;
    }
}