.contact_us{
    padding: 150px 0 100px;
}
.sec_title p{
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.contact_item i {
    font-size: 35px;
    display: inline-block;
    margin-right: 15px;
    color: var(--main-color);
}
.contact_item h3{
    font-size: 28px;
    color: var(--heading-color);
    margin-bottom: 15px;
}
.contact_item p{
    font-weight: 500;
    color: var(--paragraph-color);
}
.contact_form textarea{
    padding:10px 15px;
    width: 100%;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    height: 150px;
    resize: none;
}
.contact_form textarea:focus{
    outline: none;
}


/* --------media query ---------------- */

/* ---- mobile tablet device-------- */
@media (max-width: 768px) {
    .contact_item {
        margin-bottom: 30px;
    }
    .contact_img {
        padding-top: 50px;
    }
}